<app-nav-bar caminho='Cargas'></app-nav-bar>

<table class="table">
  <thead>
    <tr><button (click)="new()" class="btn btn-primary">Novo</button></tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo de Categoria</th>
      <th scope="col">Km</th>
      <th scope="col">Custo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carga of transporteService.cargas; index as i ">

      <th scope="row">{{ i+1 }}</th>
      <td>{{ carga.categoria }}</td>
      <td>{{ carga.distacia }}</td>
      <td>{{ carga.custo }}</td>

      <td><button (click)="edit()" class="btn btn-primary">Edit</button>|
          <button (click)="destroy()" class="btn btn-danger">Delete</button>
      </td>

    </tr>
  </tbody>
</table>


<app-new-carga>
  <app-edit-carga></app-edit-carga>
</app-new-carga>

